<body>

<!--bgcolor="white"-->

	<table id="thbar">
	<tr>
		<td><a href="{{ '' | relative_url }}/"><h1>James Coats</h1></a></td>
		<td>
		<!--div class="dropdown">
		<button class="dropbtn"-->
		<a href="{{ '' | relative_url }}/">HOME</a>
		<!--/button>
			<div class="dropdown-content">
<!--			<a href="#">Online Training</a>
			<a href="#">Workshops</a>
			<a href="#">Resources</a>
-->			<!--/div>
		</div-->
		</td>



		<td>
		<div class="dropdown">
		<a href="{{ 'bio.html' | relative_url }}/">
		<button class="dropbtn">
		BIO
		</button>
		</a>
			<div class="dropdown-content">
			<a href="{{ 'bio.html' | relative_url }}/">About</a>			

			</div>
		</div>
		</td>



		<td>
		<div class="dropdown">
		<a href="{{ 'projects.html' | relative_url }}/">
		<button class="dropbtn">
		PROJECTS
		</button>
		</a>

			<div class="dropdown-content">
			<a href="{{ 'projects.html' | relative_url }}/">Current Book</a>
			<!--a href="{{ 'onlinetraining.html' | relative_url }}/">Online Training</a>
			<a href="{{ 'workshops.html' | relative_url }}/">Workshops</a>
			<a href="{{ 'resources.html' | relative_url }}/">Resources</a>
			<a href="http://www.JamesCoats.com/projects">Future Projects</a-->
			</div>
		</div>
		</td>



		<td>
		<div class="dropdown">
		<a href="{{ 'events.html' | relative_url }}/">
		<button class="dropbtn">
		EVENTS
		</button>
		</a>
			<div class="dropdown-content">
			<a href="{{ 'events.html' | relative_url }}/">Calendar</a>
			</div>
		</div>
		</td>



		<td>
		<div class="dropdown">
		<a href="{{ 'portfolio.html' | relative_url }}/">
		<button class="dropbtn">
		PORTFOLIO
		</button>
		</a>
			<div class="dropdown-content">
			<a href="{{ 'pictures.html' | relative_url }}/">Pictures</a>
			<a href="{{ 'designs.html' | relative_url }}/">Designs</a>
			<a href="{{ 'art.html' | relative_url }}/">Art</a>
			<a href="{{ 'writing.html' | relative_url }}/">Writing</a>
			</div>
		</div>
		</td>



		<td>
		<div class="dropdown">
		<a href="{{ 'contact.html' | relative_url }}/">
		<button class="dropbtn">
		CONTACT
		</button>
		</a>
			<div class="dropdown-content">
			<a href="{{ 'contact.html' | relative_url }}/">Contact Information</a>
			<a href="http://www.LovingWords.net">Loving Words Blog</a>
			</div>
		</div>
		</td>
	</tr>
	</table>
