<!doctype html>

<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>

<!--link type="text/css" rel="stylesheet" href="assets/css/jamescoats.css"/-->
<link href="{{'assets/css/jamescoats.css' | relative_url}}" rel ="stylesheet"/>

<script src="https://www.w3schools.com/lib/w3.js"></script>


<script type="text/javascript" src="{{'assets/js/jamescoats.js' | relative_url}}"></script>

</head>


